# Ignorar arquivos comuns para projetos Django

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
pip-wheel-metadata/

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Environment variables / secrets
.env
local_settings.py

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/

# If you use collectstatic into a folder named "static"
# /static/

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Celery
celerybeat-schedule

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/